body {
  margin: 0;
  font-family: 'Archivo', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6
p{
    margin: 0px;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
