.font-1-xs {
  font: 400 0.875rem/1.12 "Archivo", sans-serif;
}

.font-2-xs {
  font: 400 0.875rem/1.12 "Roboto Mono", sans-serif;
  letter-spacing: -3%;
}

.font-1-s {
  font: 400 1.125rem/1.33 "Archivo", sans-serif;
}

.font-2-s {
  font: 400 1.125rem/1.33 "Roboto Mono", sans-serif;
  letter-spacing: -3%;
}

.font-1-m,
.font-1-m-b {
  font: 400 1.5rem/1.5 "Archivo", sans-serif;
}

.font-1-m-b {
  font-weight: 500;
}

.font-2-m {
  font: 400 1.5rem/1.5 "Roboto Mono", sans-serif;
}

.font-1-l {
  font: 800 2.25rem/1.5 "Archivo", sans-serif;
}

.font-2-l {
  font: 400 2rem/1.25 "Roboto Mono", sans-serif;
}

.font-1-xl {
  font: 700 3rem/1.25 "Archivo", sans-serif;
}

.font-1-xxl {
  font: 700 6rem/0.83 "Archivo", sans-serif;
}

@media (max-width: 1200px) {
  .font-1-xxl {
    font-size: 5rem;
  }
  .font-2-l,
  .font-2-l-b {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .font-1-xxl {
    font-size: 4rem;
  }
  .font-1-xl{
    font-size: 2rem;
  }
}
